@charset "UTF-8";
/* Cтили, заданные по умолчанию */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap");
:root {
  --index: calc(1vw + 1vh);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  scroll-behavior: smooth;
}

a {
  display: block;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.link--underline {
  position: relative;
}

.link--underline::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #4b5d68;
  transition: width 0.2s;
}

.link--underline:hover::before {
  width: 100%;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img--full-width {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
ul,
p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  outline: none;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 80rem;
  min-width: 20rem;
}
@media (min-width: 48rem) {
  .container {
    padding: 0 1.875rem;
  }
}
@media (min-width: 80rem) {
  .container {
    padding: 0;
  }
}

.text {
  font-size: calc(var(--index) * 2);
}
@media (min-width: 71.25rem) {
  .text {
    line-height: 2.7rem;
    font-size: 1.75rem;
    letter-spacing: 0.0625rem;
  }
}

.br {
  display: none;
}

.bold {
  font-weight: 700;
}

.none {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(6, 204, 248, 0.262745098);
  z-index: 2;
}

.overlay--active {
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}

.header {
  position: relative;
  padding: 0;
  padding-top: calc(var(--index) * 3);
  padding-bottom: calc(var(--index) * 10);
  background: #f89006 url(../img/header_bg.jpg) no-repeat center/cover;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
@media (min-width: 71.25rem) {
  .header {
    padding: 63px 0 224px 0;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: calc(var(--index) * 7);
  color: #fff;
}
@media (min-width: 71.25rem) {
  .header__nav {
    margin-bottom: 11.9375rem;
  }
}

.logo__wrapper {
  width: calc(var(--index) * 7);
  height: calc(var(--index) * 7);
  border-radius: 50%;
  background-color: #f89006;
}
@media (min-width: 71.25rem) {
  .logo__wrapper {
    width: 7.375rem;
    height: 7.375rem;
  }
}

.logo__wrapper--mobile {
  position: relative;
  width: calc(var(--index) * 5);
  height: auto;
}

.logo__wrapper--mobile__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 100%;
  background-color: #f89006;
  border-radius: 50%;
}

.nav__row {
  display: none;
}
@media (min-width: 71.25rem) {
  .nav__row {
    display: flex;
    align-items: center;
  }
}

.nav__li {
  margin-right: 36px;
}
.nav__li:last-child {
  margin-right: 0;
}

.nav__link {
  position: relative;
  display: block;
  font-size: 24px;
  color: #fff;
}
.nav__link::after {
  content: "";
  display: block;
  width: 0;
  height: 0.0625rem;
  background-color: #fff;
  transition: width 0.2s ease-in;
}
.nav__link:hover::after {
  width: 100%;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-bottom: calc(var(--index) * 7);
  text-align: center;
  font-size: calc(var(--index) * 4.5);
  font-weight: 700;
  color: #fff;
}
@media (min-width: 71.25rem) {
  .heading {
    margin-bottom: 9.3125rem;
    font-size: 4.625rem;
  }
}

.header__nav--mobile {
  position: fixed;
  top: 0;
  right: -100%;
  flex-direction: column;
  justify-content: flex-start;
  padding: calc(var(--index) * 3);
  min-width: 20rem;
  max-width: 24.375rem;
  height: 100vh;
  background-color: #fff;
  z-index: 3;
  transition: right 0.2s ease-in;
}
@media (min-width: 71.25rem) {
  .header__nav--mobile {
    display: none;
  }
}

.header__nav--mobile--active {
  right: 0;
}

.nav__row--mobile {
  margin-bottom: calc(var(--index) * 4);
  width: 100%;
}
@media (min-width: 48rem) {
  .nav__row--mobile {
    margin-bottom: 2.5rem;
  }
}

.header__nav--mobile .nav__li {
  margin-bottom: calc(var(--index) * 1.5);
  margin-right: 0;
  text-align: center;
}
.header__nav--mobile .nav__li:last-child {
  margin-bottom: 0;
}
@media (min-width: 48rem) {
  .header__nav--mobile .nav__li {
    margin-bottom: 1rem;
  }
}

.nav__links {
  margin-bottom: calc(var(--index) * 1.5);
  color: #000;
  text-align: center;
}
@media (min-width: 48rem) {
  .nav__links {
    margin-bottom: 1rem;
  }
}

.nav__link--mobile {
  color: #000000;
}
.nav__link--mobile:visited {
  color: #000000;
}

.main {
  padding-bottom: calc(var(--index) * 4);
}
@media (min-width: 71.25rem) {
  .main {
    padding-bottom: 22.25rem;
  }
}

.section {
  margin-bottom: calc(var(--index) * 10);
}
.section:first-child {
  padding-top: calc(var(--index) * 9);
}
.section:last-child {
  padding-bottom: 0;
}
@media (min-width: 71.25rem) {
  .section {
    margin-bottom: 14.875rem;
  }
}

.section--yellow-bg {
  padding: calc(var(--index) * 6) 0 calc(var(--index) * 4) 0;
  background-color: #ffd500;
}
@media (min-width: 71.25rem) {
  .section--yellow-bg {
    padding: 5.375rem 0 9.6875rem 0;
  }
}

.section__heading {
  margin-bottom: calc(var(--index) * 5.5);
  text-align: center;
  font-size: calc(var(--index) * 3.5);
}
@media (min-width: 71.25rem) {
  .section__heading {
    margin-bottom: 5.3125rem;
    font-size: 4.25rem;
  }
}

.content__row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: calc(var(--index) * 6);
}
.content__row:last-child {
  margin-bottom: 0;
}
@media (min-width: 71.25rem) {
  .content__row {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12rem;
  }
  .content__row:nth-child(2n) {
    flex-direction: row-reverse;
  }
}

.content__text {
  margin-bottom: var(--index);
}
@media (min-width: 71.25rem) {
  .content__text {
    width: 48%;
  }
}

@media (min-width: 71.25rem) {
  .img-wrapper--about {
    width: 48%;
  }
}

.row--gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media (min-width: 71.25rem) {
  .row--gallery {
    flex-direction: row;
    margin-bottom: 6rem;
  }
}

.gallery__item {
  margin-bottom: calc(var(--index) * 7);
  width: 100%;
}
@media (min-width: 71.25rem) {
  .gallery__item {
    margin-bottom: 0;
    width: 28.8%;
  }
}

.gallery__item-wrapper {
  position: relative;
  width: 100%;
  padding-top: 130%;
}

.gallery__item-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.gallery__img-wrapper {
  display: flex;
  height: 90.5%;
  -o-object-position: center;
     object-position: center;
}

.gallery__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__desc {
  text-align: center;
  font-weight: 700;
}

.section__row {
  display: flex;
  align-items: center;
}

.section__row--stretch {
  align-items: stretch;
}

.section__row--between {
  justify-content: space-between;
}

.section__row--end {
  justify-content: flex-end;
}

.section__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--index);
  width: 8rem;
  height: 8rem;
  text-align: center;
  font-size: 3.125rem;
  border: 0.8rem solid #ffb800;
  border-radius: 50%;
}
@media (min-width: 71.25rem) {
  .section__icon-wrapper {
    margin-bottom: 0;
    margin-right: 1.875rem;
  }
}

.section__row--cost {
  flex-direction: column;
  margin-bottom: calc(var(--index) * 6);
}
.section__row--cost:last-child {
  margin-bottom: 0;
}
@media (min-width: 71.25rem) {
  .section__row--cost {
    flex-direction: row;
    margin-bottom: 3.5rem;
  }
}

.section__desc {
  text-align: center;
}
@media (min-width: 71.25rem) {
  .section__desc {
    text-align: left;
    width: calc(100% - 8rem + 1.9375rem);
  }
}

.section__desc br {
  display: none;
}
@media (min-width: 71.25rem) {
  .section__desc br {
    display: inline;
  }
}

.section--bg {
  position: relative;
}
.section--bg::after {
  display: none;
  position: absolute;
  content: url(../img/house_bg.png);
  bottom: 0;
  left: 50%;
  transform: translateX(-101%);
  z-index: -1;
}
@media (min-width: 71.25rem) {
  .section--bg::after {
    display: block;
  }
}

.section--bg-side {
  position: relative;
  overflow: hidden;
}
.section--bg-side::after {
  display: none;
  position: absolute;
  content: url(../img/house_bg_1.png);
  bottom: 0;
  right: 50%;
  transform: translateX(110%);
  z-index: -1;
}
@media (min-width: 71.25rem) {
  .section--bg-side::after {
    display: block;
  }
}

.section__content--alt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 71.25rem) {
  .section__content--alt {
    align-items: center;
  }
}

.section__row--alt {
  margin-bottom: calc(var(--index) * 6);
  width: 100%;
}
@media (min-width: 71.25rem) {
  .section__row--alt {
    justify-content: flex-end;
    margin-bottom: 4.875rem;
  }
  .section__row--alt:nth-child(2n) {
    flex-direction: row-reverse;
  }
}
.section__row--alt:last-child {
  margin-bottom: 0;
}

@media (min-width: 71.25rem) {
  .section__row--alt:nth-child(2n) .section__desc--alt {
    text-align: right;
  }
}

.section__icon-wrapper--alt {
  padding: 0;
  margin-bottom: 0;
  border: none;
  width: calc(var(--index) * 6);
  height: auto;
  font-size: calc(var(--index) * 5);
  margin-right: calc(var(--index) * 3);
  color: #ffb800;
}
@media (min-width: 71.25rem) {
  .section__icon-wrapper--alt {
    margin-right: 1.9375rem;
    width: 8rem;
    font-size: 7rem;
  }
}

@media (min-width: 71.25rem) {
  .section__row--alt:nth-child(2n) .section__icon-wrapper {
    margin-right: 0;
    margin-left: 1.9375rem;
  }
}

.section__desc--alt {
  text-align: left;
  width: calc(100% - var(--index) * 9);
}
@media (min-width: 71.25rem) {
  .section__desc--alt {
    width: calc(50% - 5.9rem);
  }
}

.booking {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47%;
}

.booking__text p {
  margin-bottom: 1rem;
}
.booking__text p:last-child {
  margin-bottom: 0;
}

.booking__row {
  display: flex;
}

a.section__icon-wrapper {
  transition: 0.2s color ease-in;
  margin-right: 0.5rem;
}
a.section__icon-wrapper:last-child {
  margin-right: 0;
}
a.section__icon-wrapper:visited {
  color: #ffb800;
}
a.section__icon-wrapper:hover {
  color: #ffd466;
}

a.text {
  color: inherit;
  transition: color 0.2s ease-in;
}
a.text:hover {
  color: #ffb800;
}

.map__content {
  display: block;
  width: 100%;
  height: 23rem;
  border: none;
}

.button {
  background-color: #ffb800;
  padding: calc(var(--index) * 1.5) calc(var(--index) * 2.5);
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  color: #fff;
  font-size: calc(var(--index) * 3);
  font-weight: 700;
  border-radius: 1.125rem;
  transition: background-color 0.2s ease-out;
}
.button:hover {
  background-color: #ffc633;
}
.button:visited {
  color: #fff;
}
@media (min-width: 71.25rem) {
  .button {
    font-size: 3rem;
    padding: 1.5625rem 4.125rem;
  }
}

.btn__close--wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: calc(var(--index) * 2.5);
  width: 100%;
}
@media (min-width: 48rem) {
  .btn__close--wrapper {
    margin-bottom: 2rem;
  }
}

.btn__close {
  position: relative;
  width: 3rem;
  height: 3rem;
}
.btn__close::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 100%;
  height: 25%;
  background-color: #ffb800;
}
.btn__close::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 25%;
  background-color: #ffb800;
}

.btn--hamburger {
  position: fixed;
  right: 0.9375rem;
  top: calc(var(--index) * 3);
  width: calc(var(--index) * 7);
  height: calc(var(--index) * 7);
  border-top: solid #f89006 calc(var(--index) * 1.5);
  border-bottom: solid #f89006 calc(var(--index) * 1.5);
  z-index: 1;
}
.btn--hamburger::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: calc(var(--index) * 1.5);
  background-color: #f89006;
}
@media (min-width: 71.25rem) {
  .btn--hamburger {
    display: none;
  }
}

.form__content {
  margin-bottom: 4.8125rem;
}

.form {
  display: block;
}

.form__inputs,
.form__button {
  width: 47%;
}

.input {
  display: block;
  margin-bottom: 4.8125rem;
  width: 100%;
  padding: 1rem 1rem 0 1rem;
  padding-bottom: 9%;
  border: 1px solid #5c5c5c;
  border-radius: 0.3125rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.75rem;
  line-height: 2.125rem;
}
.input:last-child {
  margin-bottom: 0;
}

.footer {
  padding: 5.375rem 0 4.25rem 0;
  background-color: #fce465;
}

.footer__row {
  display: flex;
  align-items: center;
  margin-bottom: 2.9375rem;
}

.footer .logo__wrapper {
  margin-right: 3.1875rem;
}

.footer__desc {
  width: -moz-fit-content;
  width: fit-content;
}

.footer__desc a {
  position: relative;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 3.5rem;
}
.footer__desc a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.2s ease-in;
}
.footer__desc a:hover {
  color: inherit;
}
.footer__desc a:hover::after {
  width: 100%;
}/*# sourceMappingURL=main.css.map */