.button {
  background-color: #ffb800;
  padding: calc(var(--index) * 1.5) calc(var(--index) * 2.5);
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;

  color: #fff;
  font-size: calc(var(--index) * 3);
  font-weight: 700;
  border-radius: 1.125rem;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: lighten($color: #ffb800, $amount: 10%);
  }

  &:visited {
    color: #fff;
  }

  @media (min-width: 71.25rem) {
    font-size: 3rem;
    padding: 1.5625rem 4.125rem;
  }
}

.form__button {
  width: 100%;

  @media (min-width: 71.25rem) {
    width: auto;
  }
}

.btn__close--wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: calc(var(--index) * 2.5);
  width: 100%;

  @media (min-width: 48rem) {
    margin-bottom: 2rem;
  }
}

.btn__close {
  position: relative;
  width: 3rem;
  height: 3rem;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 100%;
    height: 25%;
    background-color: #ffb800;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 25%;
    background-color: #ffb800;
  }
}

.btn--hamburger {
  position: fixed;
  right: 0.9375rem;
  top: calc(var(--index) * 3);
  width: calc(var(--index) * 7);
  height: calc(var(--index) * 7);
  border-top: solid #f89006 calc(var(--index) * 1.5);
  border-bottom: solid #f89006 calc(var(--index) * 1.5);
  z-index: 1;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: calc(var(--index) * 1.5);
    background-color: #f89006;
  }

  @media (min-width: 71.25rem) {
    display: none;
  }
}
