.form__content {
  flex-direction: column;
  margin-bottom: calc((var(--index) * 2));

  @media (min-width: 71.25rem) {
    flex-direction: row;
    margin-bottom: 4.8125rem;
  }
}

.form {
  display: block;
}

.form__inputs,
.form__button {
  @media (min-width: 71.25rem) {
    width: 47%;
  }
}

.input {
  display: block;
  margin-bottom: calc((var(--index) * 2));
  width: 100%;
  padding: var(--index);
  border: 1px solid #5c5c5c;
  border-radius: 0.3125rem;
  font-family: "Montserrat Alternates", sans-serif;

  font-size: calc((var(--index) * 2));

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 71.25rem) {
    margin-bottom: 4.8125rem;
    padding: 1rem 1rem 0 1rem;
    padding-bottom: 9%;
    font-size: 1.75rem;
    line-height: 2.125rem;
  }
}

.form__button-wrapper {
  justify-content: center;

  @media (min-width: 71.25rem) {
    justify-content: flex-end;
  }
}
