.header {
  position: relative;

  padding: 0;
  padding-top: calc(var(--index) * 3);
  padding-bottom: calc(var(--index) * 10);
  background: #f89006 url(../img/header_bg.jpg) no-repeat center/cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
  }

  @media (min-width: 71.25rem) {
    padding: 63px 0 224px 0;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: calc(var(--index) * 7);
  color: #fff;

  @media (min-width: 71.25rem) {
    margin-bottom: 11.9375rem;
  }
}

.logo__wrapper {
  width: calc(var(--index) * 7);
  height: calc(var(--index) * 7);
  border-radius: 50%;
  background-color: #f89006;

  @media (min-width: 71.25rem) {
    width: 7.375rem;
    height: 7.375rem;
  }
}

.logo__wrapper--mobile {
  position: relative;
  width: calc(var(--index) * 5);
  height: auto;
}

.logo__wrapper--mobile__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 100%;
  background-color: #f89006;
  border-radius: 50%;
}

.nav__row {
  display: none;

  @media (min-width: 71.25rem) {
    display: flex;
    align-items: center;
  }
}

.nav__li {
  margin-right: 36px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  position: relative;
  display: block;
  font-size: 24px;
  color: #fff;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0.0625rem;
    background-color: #fff;
    transition: width 0.2s ease-in;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-bottom: calc(var(--index) * 7);
  text-align: center;
  font-size: calc(var(--index) * 4.5);
  font-weight: 700;
  color: #fff;

  @media (min-width: 71.25rem) {
    margin-bottom: 9.3125rem;
    font-size: 4.625rem;
  }
}

.header__nav--mobile {
  position: fixed;
  top: 0;
  right: -100%;
  flex-direction: column;
  justify-content: flex-start;
  padding: calc(var(--index) * 3);
  min-width: 20rem;
  max-width: 24.375rem;
  height: 100vh;
  background-color: #fff;
  z-index: 3;
  transition: right 0.2s ease-in;

  @media (min-width: 71.25rem) {
    display: none;
  }
}

.header__nav--mobile--active {
  right: 0;
}

.nav__row--mobile {
  margin-bottom: calc(var(--index) * 4);
  width: 100%;

  @media (min-width: 48rem) {
    margin-bottom: 2.5rem;
  }
}

.header__nav--mobile .nav__li {
  margin-bottom: calc(var(--index) * 1.5);
  margin-right: 0;
  text-align: center;
  color: #000000;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 48rem) {
    margin-bottom: 1rem;
  }
}

.nav__links {
  margin-bottom: calc(var(--index) * 1.5);

  color: #000;
  text-align: center;

  @media (min-width: 48rem) {
    margin-bottom: 1rem;
  }
}

.header__nav--mobile .nav__link {
  color: #000;
}
