/* Cтили, заданные по умолчанию */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #4b5d68;
    font-family: "Avenir";
    font-weight: 500;
    scroll-behavior: smooth;
}

a {
    display: block;
    text-decoration: none;
    color: #4b5d68;
    font-size: 1rem;
}

.link--underline {
    position: relative;
}

.link--active {
    color: #212353;
    font-weight: 900;
}

.link--underline::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #4b5d68;
    transition: width 0.2s;
}

.link--underline:hover::before {
    width: 100%;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img--full-width {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
ul,
p {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:active {
    outline: none;
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 70rem;
    min-width: 20rem;
}